.scrollWrapper {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten(#fe2851, 40%);
    border-radius: 1px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: lighten(#fe2851, 25%);
  }
}

.scrollGrid {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: auto;
  grid-gap: 0 10px;
  justify-content: left;
  width: 0; // WTF, this shouldn't work but it makes it work and nothing else does. One day it may break, but until that day lets just completely forget that this is a thing...
  &.doubleRow {
    grid-template-rows: auto auto;
  }
}