@import '../../../../../../../assets/styles/settings/colors';

@mixin wrapTo($width) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: $width;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
  margin: 15px 5px;
  transform: scale(1);
  transition: transform 0.3s;
  height: 310px;

  &.droppable {
    color: $accent_color;
  }

  .descriptionContainer {
    text-align: left;
    width: 100%;

    > span {
      display: block;
      @include wrapTo(100%);

      &.featureTag {
        color: $accent_color;
        font-size: 0.9em;
      }

      &.playlistName {
        font-weight: 400;
        font-size: 1.6em;
      }
    }
  }

  .coverContainer {
    position: relative;
    width: 416px;
    height: 240px;
    margin-top: 10px;
    background: $container_background;
    border-radius: 6px;

    .cover {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      transition: opacity 0.2s;
      object-fit: cover;
    }

    .detailsOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      padding: 0 20px 20px 12px;
      min-height: 60px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0px, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 100%) no-repeat;
      border-radius: 0 0 6px 6px;

      .caption {
        flex: 1;
        margin: 0;
        color: #ffffff;
      }
    }
  }

  &:hover {
    transform: scale(1.025);
    .image {
      opacity: 0.8;
    }
  }

  &:active {
    transform: scale(0.975);
  }
}
