.choices {
  width: 100%;
  border-bottom: solid 2px #fe2851;

  .selectionItem {
    padding: 5px 15px;
    background: #f2f2f2;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }

    &:hover {
      background-color: #f6f6f6;
      color: #666;
    }

    &.selected {
      background: #fe2851;
      color: #ffffff;
    }
  }
}

.searchGrid {
  display: flex;
  flex-wrap: wrap;

  > div {
     margin: 15px 10px;
  }
}

.searchArtistsGrid {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 15px 10px;
    width: 175px;
  }
}

.searchError {
  margin-top: 20px;
  text-align: center;

  .searchErrorTitle {
    font-size: 4em;
    display: block;
  }

  .searchErrorDetails {
    font-size: 1.5em;
    display: block;
    color: #999;
  }
}
