
.albumHeading {
  margin-top: 20px;
}

.playlistHeading {
  margin-top: 10px;
}

.recommendationGroup {
  padding-top: 10px;
}

.personalRecommendationsGrid {
  column-count: 2;
  margin-right: 20px;
  margin-top: 10px;

  > a {
    margin: 0 0 20px;
  }
}

.scrollWrapper {
  width: 100%;
  position: relative;
  height: 200px;
  &.groupedScroller {
    height: 370px;
  }
}

.scrollGrid {
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin: 0 -10px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: flex-start;

  > div {
    flex: 0 0 auto;
    margin: 0 10px;
  }
}

h4 {
  font-weight: lighter;
}
