
.albumHeading {
  margin-top: 20px;
}

.playlistHeading {
  margin-top: 10px;
}

.recommendationGroup {
  padding-top: 10px;
}

.personalRecommendationsGrid {
  column-count: 2;
  margin-right: 20px;
  margin-top: 10px;

  > a {
    margin: 0 0 20px;
  }
}

.scrollGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: min-content;
  flex-wrap: wrap;
  margin: 0 -10px;

  > * {
    margin: 0 10px;
  }
}

h4 {
  font-weight: lighter;
}
