
.albumHeading {
  margin-top: 20px;
}

.playlistHeading {
  margin-top: 10px;
}

.recommendationGroup {
  padding-top: 10px;
}

.personalRecommendationsGrid {
  column-count: 2;
  margin-right: 20px;
  margin-top: 10px;

  > a {
    margin: 0 0 20px;
  }
}

.scrollWrapper {
  overflow: scroll;
}
.scrollGrid {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: auto;
  justify-content: left;
  margin: 0 -10px;
  width: 0; // WTF, this shouldn't work but it makes it work and nothing else does. One day it may break, but until that day lets just completely forget that this is a thing...
  &.doubleRow {
    grid-template-rows: auto auto;
  }
  > * {
    margin: 0 10px;
  }
}

h4 {
  font-weight: lighter;
}
