@import '../../../../styles/settings/colors';

.sidebar {
  display: flex;
  flex-direction: column;
  background: $sidebar_color;
  border-right: solid 1px $main_background_color;
  height: 100%;
  min-height: 500px;
  top: 66px;
  bottom: 0;
  width: 260px;
  padding: 10px;

  .menus {
    flex: 1;
    overflow: auto;
    padding-bottom: 15px;

    .menu {
      background: $main_background_color;
      padding: 10px 15px;
      border-radius: 5px;
      margin-top: 15px;

      h3 {
        color: $primary_color;
        font-weight: 500;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }

      ul {
        list-style-type: none;
        margin: 15px 0 0;
        padding: 0;

        li {
          color: #333333;
          font-weight: 500;
          margin: 10px 0;

          a {
            margin: -10px 0;
            padding: 5px 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 210px;
            display: block;
          }

          &.active a {
            border-radius: 4px;
            background: $primary_color;
            color: $main_background_color;
            font-weight: 500;
          }
        }
      }
    }
  }
}
