// CORE:
$color_background: #ffffff;
$color_accent: #fe2851;

// BORDERS:
$color_border: #eeeeee;
$color_borderStrong: #cccccc;

// TYPOGRAPHY:
$color_text: #333333;
$color_textStrong: #111111;
$color_textWeak: #666666;
$color_textFaint: #aaaaaa;


// ---------------------------------------------------
// COMPONENT COLOR MAPPINGS:

// SPLASH PAGE:
$color_splashBackground: #fb453f;

// PLACEHOLDERS:
$color_placeholder: #cccccc;

// BUTTONS:
$color_buttonBackground: #f9f9f9;
$color_buttonText: $color_textWeak;
$color_buttonBackgroundHover: #f4f4f4;
$color_buttonTextHover: $color_accent;

// TOASTER:
$color_toasterBackground: $color_background;

// ITEM CONTAINER:
$color_itemPlaceholder: #cccccc;
$color_itemDroppableText: $color_accent;

// NAVIGATION:
$color_navigationBackground: $color_background;
$color_navigationBrand: #222222;

// CONTEXT MENU:
$color_contextMenuBackground: $color_background;
$color_contextMenuText: $color_textStrong;

// EXPLICIT ICON:
$color_explicitBackground: #aaaaaa;
$color_explicitText: #ffffff;

// PAGE TITLE:
$color_pageTitle: $color_textStrong;
$color_pageTitleContext: $color_accent;

// LOADER:
$color_loader: $color_accent;

// MODAL:
$color_modalBackground: $color_background;
$color_modalBacking: rgba($color_background, 0.5);

// SCROLLBARS:
$color_scrollerBackground: $color_background;
$color_scrollerThumb: lighten($color_accent, 40%);
$color_scrollerThumbHover: lighten($color_accent, 25%);





// LEGACY:
$container_background: #f7f7f7;

$track_background_color: rgba(220, 220, 220, 0.5);
$sidebar_color: #f9f9f9;

$secondary_color: #aaaaaa;
$indiscreet_hover_color: #f9f9f9;
$tertiary_color: #666666;

$player_button_color: #111111;
$player_secondary_button_color: #888888;
$player_volume_container_color: rgba(255, 255, 255, 0.8);


