// Colors

$splash_background_color: #fb453f;

$brand_color: #222222;

$background_color: #ffffff;
$background_color_inverted: #000000;


$background_tint_color: #eeeeee;
$background_tint_color_strong: #cccccc;

$container_background: #f7f7f7;

$track_background_color: rgba(220, 220, 220, 0.5);
$sidebar_color: #f9f9f9;

$accent_color: #fe2851;
$secondary_color: #aaaaaa;
$indiscreet_hover_color: #f9f9f9;
$tertiary_color: #666666;

$text_color: #666666;
$text_color_strong: #333333;
$text_color_weak: #999999;


$player_button_color: #111111;
$player_secondary_button_color: #888888;
$player_volume_container_color: rgba(255, 255, 255, 0.8);

$placeholder_container_color: #cccccc;


// theme below
$text_color: #ddd;
$text_color_strong: #fff;
$text_color_weak: #bbb;


$splash_background_color: #fb453f;

$brand_color: #ffffff;
$background_color_inverted: #ffffff;

$background_color: #1c1c1c;


$background_tint_color: #292929;
$background_tint_color_strong: green;

$container_background: #3c3c3c;


$track_background_color: #2a2a2a;

/*
$track_background_color: rgba(220, 220, 220, 0.5);
$sidebar_color: #f9f9f9;

$accent_color: #fe2851;
$secondary_color: #aaaaaa;
$indiscreet_hover_color: #f9f9f9;
$tertiary_color: #666666;

$text_color: #666666;
$text_color_strong: #333333;
$text_color_weak: #999999;


$player_button_color: #111111;
$player_secondary_button_color: #888888;
$player_volume_container_color: rgba(255, 255, 255, 0.8);

$placeholder_container_color: #cccccc;
*/
