@mixin wrapTo($width) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: $width;
  display: block;
}

.container {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 15px 10px;

  .imageContainer {
    width: 170px;
    height: 170px;
    background: #fafafa;
    border-radius: 8px;
    .image {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  &:hover {
    .image {
      opacity: 0.9;
    }
  }

  .descriptionContainer {
    text-align: left;
    width: 100%;
    > span {
      display:block;
      @include wrapTo(170px);
      &.albumName {
        font-weight: 400;
        margin: 10px 0 5px 0;
      }
      &.artistName {
        font-weight: 300;
        color: #aaaaaa;
        margin: 0;
      }
    }
  }
}
