#main-sidebar{
  display: flex;
  flex-direction: column;
	background: #ffffff;
	border-right: solid 1px #f5f5f5;
  .menus {
	flex: 1;
	overflow: scroll;
	.menu {
	  background: #f9f9f9;
	  padding: 10px 15px;
	  border-radius: 5px;
	  margin-top: 15px;
	  ul {
		list-style-type: none;
		margin: 0;
		margin-top: 20px;
		padding: 0;
		li {
		  color: #333;
		  margin: 10px 0px;
		  a {
			margin: -10px 0;
			padding: 5px 12px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 210px;
			display: block;
		  }
		  &.active a {
			border-radius: 4px;
			background: #fe2851;
			color: #ffffff;
			font-weight: 500;
		  }
		}
	  }
	}
  }
}