#main-sidebar{
  display: flex;
  flex-direction: column;
  .menus {
	flex: 1;
	overflow: scroll;
	.menu {
	  background: rgb(249,249,249);
	  padding: 10px 15px;
	  border-radius: 5px;
	  margin-top: 15px;
	  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.1);
	  ul {
		list-style-type: none;
		margin: 0;
		margin-top: 20px;
		padding: 0;
		li {
		  color: #333;
		  margin: 10px 0px;
		  a {
			margin: -10px 0;
			padding: 5px 12px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 210px;
			display: block;
		  }
		  &.active a {
			border-radius: 4px;
			background: rgb(240, 240, 240);
			color: #fe2851;
			font-weight: 500;
		  }
		}
	  }
	}
  }
}