// Colors

$dark__brand_color: #fff;

$dark__background_color: #222222;


$dark__background_tint_color: rgba(27, 27, 27, 0.93);
$dark__background_tint_color_strong: #333333;

$dark__container_background: $dark__background_tint_color_strong;

$dark__track_background_color: rgba(220, 220, 220, 0.5);
$dark__sidebar_color: #f9f9f9;

$dark__accent_color: #fe2851;
$dark__secondary_color: #aaaaaa;
$dark__indiscreet_hover_color: #f9f9f9;
$dark__tertiary_color: #666666;

$dark__text_color: #d0d0d0;
$dark__text_color_strong: #fff;
$dark__text_color_weak: #999999;


$dark__player_button_color: white;
$dark__player_secondary_button_color: #888888;
$dark__player_volume_container_color: rgba(255, 255, 255, 0.8);

$dark__placeholder_container_color: #cccccc;
