// Colors

$light__brand_color: #222222;

$light__background_color: #ffffff;


$light__background_tint_color: #eeeeee;
$light__background_tint_color_strong: #cccccc;

$light__container_background: #f7f7f7;

$light__track_background_color: rgba(220, 220, 220, 0.5);
$light__sidebar_color: #f9f9f9;

$light__accent_color: #fe2851;
$light__secondary_color: #aaaaaa;
$light__indiscreet_hover_color: #f9f9f9;
$light__tertiary_color: #666666;

$light__text_color: #666666;
$light__text_color_strong: #333333;
$light__text_color_weak: #999999;


$light__player_button_color: #111111;
$light__player_secondary_button_color: #888888;
$light__player_volume_container_color: rgba(255, 255, 255, 0.8);

$light__placeholder_container_color: #cccccc;
