@import "../../../../styles/settings/colors";

.songList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .song {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .songWrapper {
      display: flex;
      flex-direction: row;
      height: 100%;
      font-size: 11px;
      min-height: 25px;
      position: relative;

      > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    .songBacker {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: 0;
      right: 0;

      &:before {
        content: '';
        position: absolute;
        z-index: -2;
        left: 70px;
        right: 10px;
        top: 1px;
        height: 1px;
        display: block;
        background: $song_background_color;
      }
    }

    & .songBacker:after {
      content: '';
      background: none;
      transition: background 0.15s;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &:hover .songBacker:after {
      background: $container_background;
    }

    &:first-child .songBacker:before {
      background: none;
    }

    .albumArtwork {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 3px;
      margin-left: 5px;

      .playingAnimation {
        position: absolute;
        border-radius: inherit;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(250, 250, 250, 0.75);
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          height: 10px;
        }
      }

      .artworkWrapper {
        border-radius: 3px;
        width: 40px;
        height: 40px;
        background: $container_background;
        img {
          border-radius: inherit;
          width: inherit;
          height: inherit;
        }
      }
    }

    .songIndex {
      color: $primary_color;
      width: 24px;
    }

    .songInfo {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      justify-content: center;

      > span {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        color: $secondary_color;
      }

      .songTitle {
        font-size: 12px;
        color: #333333;
        display: flex;

        .explicit {
          background: $secondary_color;
          color: $main_background_color;
          display: flex;
          width: 12px;
          height: 12px;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          border-radius: 3px;
          font-size: 9px;
          margin-left: 5px;
        }
      }
    }

    .songDuration {
      width: 60px;
      align-items: center;
      color: $tertiary_color;
    }
  }
}

.playingAnimation {
  &.animated {
    > div {
      span {
        animation-play-state: running;
      }
    }
  }

  > div {
    display: flex;
    align-items: flex-end;

    span {
      display: inline-block;
      align-self: flex-end;
      bottom: 0;
      width: 3px;
      height: 5px;
      background: $primary_color;
      animation: audio-wave 0.95s infinite ease-in-out;
      animation-play-state: paused;
      margin-left: 1px;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.8s;
      }

      &:nth-child(4) {
        animation-delay: 0.6s;
      }

      &:nth-child(5) {
        animation-delay: 0.3s;
      }
    }
  }

  @keyframes audio-wave {
    0% {
      height: 5px;
    }
    25% {
      height: 10px;
    }
    50% {
      height: 8px;
    }
    50% {
      height: 10px;
    }
    100% {
      height: 5px;
    }
  }
}
