@import 'settings/colors';
@import 'utils';
@import 'themes/dark';
@import 'themes/light';

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, ' Helvetica Neue', 'Roboto', sans-serif;

  &:global(.theme-light) {
    background: $light__background_color;
    color: $light__text_color_strong;
  }

  &:global(.theme-dark) {
    background: $dark__background_color;
    color: $dark__text_color_strong;
  }
}

* {
  outline: none !important;
  box-sizing: border-box;
}

div, span {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

a {
  @include themeLight {
    color: $light__text_color;
  }

  @include themeDark {
    color: $dark__text_color;
  }

  text-decoration: none;
  transition: color 0.1s;
  cursor: pointer;
}

a:hover {
  @include themeLight {
    color: $light__accent_color;
  }

  @include themeDark {
    color: $dark__accent_color;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  padding: 10px 15px;
  font-size: 11px;
  cursor: pointer;

  @include themeLight {
    color: $light__accent_color;
    border: 1px solid $light__accent_color;
  }

  @include themeDark {
    color: $dark__accent_color;
    border: 1px solid $dark__accent_color;
  }
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

:global {
  #app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  @import 'vendor/react-contextmenu';
  @import 'vendor/github-fork-ribbon-css';
  @import '~react-s-alert/dist/s-alert-default';
  @import '~react-s-alert/dist/s-alert-css-effects/slide';
  @import 'vendor/toaster';
  @import 'vendor/contextMenu';
}

@import 'musicon';
