@import '../../../../../../../assets/styles/settings/colors';

@mixin wrapTo($width) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: $width;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
  margin: 15px 5px;
  transform: scale(1);
  transition: transform 0.3s;
  height: 310px;

  &.droppable {
    color: $accent_color;
  }

  .descriptionContainer {
    text-align: left;
    width: 100%;

    > span {
      display:block;
      @include wrapTo(100%);

      &.featureTag {
        color: $accent_color;
        font-size: 0.9em;
      }

      &.albumTitle {
        font-weight: 400;
        font-size: 1.6em;
        width: 100%;

        .albumName {
          flex: 1;
          font-weight: 400;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .explicit {
          background: $secondary_color;
          color: $background_color;
          display: flex;
          flex-shrink: 0;
          width: 12px;
          height: 12px;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          border-radius: 3px;
          font-size: 9px;
          margin-left: 5px;
          margin-top: 2px;
        }
      }

      &.artistName {
        font-weight: 300;
        color: $secondary_color;
        margin: 0;
      }
    }
  }

  .coverContainer {
    position: relative;
    width: 416px;
    height: 240px;
    background: $container_background;
    margin-top: 10px;
    border-radius: 8px;

    .cover {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      transition: opacity 0.2s;
      object-fit: cover;
    }

    .detailsOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      padding: 0 20px 20px 12px;
      min-height: 60px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0px, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 100%) no-repeat;

      .caption {
        flex: 1;
        margin: 0;
        color: #ffffff;
      }

      .albumArtwork {
        width: 60px;
        height: 60px;
        margin-left: 20px;
        border-radius: 3px;
      }
    }
  }

  &:hover {
    transform: scale(1.025);

    .image {
      opacity: 0.8;
    }
  }

  &:active {
    transform: scale(0.975);
  }
}
