@import "../../../../styles/settings/colors";

.navigationBar {
  height: 65px;
  background: $container_background;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  width: 100%;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;

  .brand {
    line-height: 65px;
    font-size: 20px;
    color: #222;
    margin: 0;
  }
}
