@import '../../../styles/settings/colors';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
	margin: 15px 10px;
  }
}

.artistList {
  width: 250px;
  height: 100%;
  border-right: solid 1px rgb(241, 241, 241);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 5px 0;
      position: relative;
      cursor: pointer;
      &:hover {
        background: $container_background;
      }
      &:not(:first-child):before {
        content: '';
        position: absolute;
        left: 65px;
        top: 0;
        right: 5px;
        height: 1px;
        background: rgb(241,241,241);
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .pictureWrapper {
        display: inline-block;
        width: 41px;
        height: 41px;
        margin-left: 15px;
        background: #cccccc;
        border-radius: 50%;
        > img {
          border-radius: inherit;
        }
      }
      .artistName {
        margin-left: 10px;
        font-size: 12px;
      }
    }
  }
}
