@import '../../../styles/settings/colors';

.container {
  width: 200px;
  background-color: $container_background;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  box-shadow: 0 10px 15px -10px rgba(0,0,0,0.15);
  text-align: center;

  &:hover {
	background-color: rgb(244, 244, 244);
  }

  h1 {
	font-weight: 400;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 160px;
	display: block;
	font-size: 14px;
  }
}
