.buttonContainer {
  background: linear-gradient(290deg, #CD3C5A, #fb453f);
  background-size: 100% 100%;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 5px;
    color: white;
  }

  .subheading {
    margin-bottom: 30px;
    color: white;
    font-weight: 100;
  }

  .button {
    width: 150px;
    height: 40px;
    border-color: #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background: #ffffff;
    color: #fe2851;
  }
}
