@import '../../../assets/styles/settings/colors';

.pageTitle {
  margin: 15px 0;
  cursor: default;
  color: $color_pageTitle;

  .contextHeading {
	text-transform: uppercase;
	color: $color_pageTitleContext;
	font-size: 12px;
  }
}
