// Colors

$login_background_color: #fb453f;
$main_background_color: #ffffff;
$container_background: #f7f7f7;

$song_background_color: rgba(220, 220, 220, 0.5);
$sidebar: #f9f9f9;

$primary_color: #fe2851;
$secondary_color: #aaaaaa;
$tertiary_color: #666666;
