// Colors

$splash_background_color: #fb453f;
$main_background_color: #fff;
$container_background: #f7f7f7;

$song_background_color: rgba(220, 220, 220, 0.5);
$sidebar_color: #f9f9f9;

$accent_color: #fe2851;
$secondary_color: #aaaaaa;
$indescreet_hover_color: #f1f1f1;
$tertiary_color: #666666;

$text_color: #666666;

$player_icon_color: #888888;
