@import '../../../../assets/styles/settings/colors';

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .settingsWrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 21px;
    position: relative;

    > i {
      color: $player_secondary_button_color;
      font-size: 18px;
      cursor: pointer;
    }

    > .settingsControlWrapper {
      position: absolute;
      display: none;
      padding: 10px;
      width: 170px;
      align-items: center;
      justify-content: space-between;
      top: 150%;
      right: 0;
      background: $background_color;
      overflow: hidden;
      max-height: 70vh;
      box-shadow: 0 8px 36px -10px rgba(150, 150, 150, 0.75);
      border-radius: 6px 0 6px 6px;
      margin-right: 1px;
      text-align: left;
      flex-direction: column;
      z-index: 4000;

      h5 {
        font-size: 15px;
        color: $text_color_strong;
        margin-bottom: 10px;
      }

      .radioWrapper {
        display: flex;
        color: $text_color;
        font-size: 12px;
        margin-bottom: 5px;

        input {
          margin-right: 10px;
        }
      }
    }
  }
  &:hover {
    > .settingsWrapper {
      > .settingsControlWrapper {
        display: flex;
      }
    }
  }

  @supports (-webkit-backdrop-filter: blur(10px)) {
    background: rgba($background_color, 0.85);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
  }
}
