@import '../../../assets/styles/settings/colors';

.playlist {
  padding: 10px 3px;
  border-bottom: 1px solid $color_borderStrong;
  cursor: pointer;

  &:hover {
    background: $color_border;
  }
}
