@import '../../../assets/styles/utils';
@import '../../../assets/styles/themes/light';
@import '../../../assets/styles/themes/dark';

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
  top: 66px;
  bottom: 0;
  width: 280px;
  padding: 0;

  @include themeLight {
    background: $light__background_color;
    border-right: solid 2px $light__background_tint_color;
  }

  @include themeDark {
    background: $dark__background_color;
    border-right: solid 2px $dark__background_tint_color;
  }

  .menus {
    flex: 1;
    overflow: auto;
    padding-bottom: 15px;

    &::-webkit-scrollbar {
      display: none;
    }

    .menu {
      padding: 10px 0;
      margin-top: 15px;

      @include themeLight {
        background: $light__background_color;
        border: solid 1px $light__background_color;
      }

      @include themeDark {
        background: $dark__background_color;
        border: solid 1px $dark__background_color;
      }

      &.dndSeeking {
        @include themeLight {
          border: dashed 1px lighten($light__accent_color, 20%);
        }

        @include themeDark {
          border: dashed 1px lighten($dark__accent_color, 20%);
        }
      }

      &.dndHovered {
        @include themeLight {
          background: lighten($light__accent_color, 20%);
          color: $light__background_color;
        }

        @include themeDark {
          background: lighten($dark__accent_color, 20%);
          color: $dark__background_color;
        }
      }

      h3 {
        margin: 0 0 10px;
        padding: 0 24px;
        @include themeLight {
          color: $light__accent_color;
        }

        @include themeDark {
          color: $dark__accent_color;
        }
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
      }

      ul {
        list-style-type: none;
        margin: 5px 0 0;
        padding: 0;

        li {
          @include themeLight {
            color: $light__text_color_strong;
          }

          @include themeDark {
            color: $dark__text_color_strong;
          }

          font-weight: 500;
          margin: 0;

          a {
            margin: 0;
            padding: 12px 24px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            display: block;
            border: solid 1px transparent;

            &:hover {
              @include themeLight {
                color: $light__text_color_strong;
              }

              @include themeDark {
                color: $dark__text_color_strong;
              }
            }

            &.dndSeeking {
              @include themeLight {
                border: dashed 1px lighten($light__accent_color, 20%);
              }

              @include themeDark {
                border: dashed 1px lighten($dark__accent_color, 20%);
              }
            }

            &.dndHovered {
              @include themeLight {
                background: lighten($light__accent_color, 20%);
                color: $light__background_color;
              }

              @include themeDark {
                background: lighten($dark__accent_color, 20%);
                color: $dark__background_color;
              }

            }

            &.active {
              font-weight: 500;

              @include themeLight {
                background: $light__container_background;
                border: solid 1px $light__container_background;
                color: $light__text_color_strong;
              }

              @include themeDark {
                background: $dark__container_background;
                border: solid 1px $dark__container_background;
                color: $dark__text_color_strong;
              }
            }
          }
        }
      }
    }

    .footer {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 10px;
      @include themeLight {
        color: lighten($light__tertiary_color, 20%);
      }

      @include themeDark {
        color: lighten($dark__tertiary_color, 20%);
      }

      a {
        @include themeLight {
          color: lighten($light__tertiary_color, 20%);
        }

        @include themeDark {
          color: lighten($dark__tertiary_color, 20%);
        }

        &:hover {
          @include themeLight {
            color: $light__accent_color;
          }

          @include themeDark {
            color: $light__accent_color;
          }
        }
      }

      .footnote {
        display: block;
        margin-top: 10px;
        font-size: 0.75em;

        i {
          font-size: 0.9em;
        }
      }
    }
  }
}
