
@import "../../../assets/styles/utils";
@import "../../../assets/styles/themes/light";
@import "../../../assets/styles/themes/dark";

.container {
  position: absolute !important; // Forcefully define size
  width: 100% !important; // Forcefully define size
  height: 100% !important; // Forcefully define size
  margin: 0 !important; // Forcefully define size
  top: 0 !important; // Forcefully define size
  left: 0 !important; // Forcefully define size
  z-index: 250;

  @include themeLight {
    background: transparentize($light__background_color, 0.5);
  }

  @include themeDark {
    background: transparentize($dark__background_color, 0.5);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.1s ease-out;

  .modal {
    width: 70%;
    max-width: 900px;
    max-height: 80%;
    padding: 20px 25px;
    overflow: auto;
    @include themeLight {
      background: $light__background_color;
      box-shadow: 0 8px 36px -10px $light__background_tint_color_strong;
    }

    @include themeDark {
      background: $dark__background_color;
      box-shadow: 0 8px 36px -10px $dark__background_color;
    }
    border-radius: 8px;
    animation: fadein 0.1s;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
