.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  margin-top: -200px;
  margin-left: -137.5px;
  z-index: 500;
  overflow: hidden;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 36px -10px rgba(150, 150, 150, 0.75);
  animation: fadein 0.1s;
  display: flex;
  flex-direction: column;
}

.header {
  height: 45px;
  display: flex;
  flex-direction: row;
  background: #fe2851;
  color: #ffffff;;
  border-bottom: solid 1px #eeeeee;
  cursor: pointer;
  padding: 0 15px;
  flex-shrink: 0;
  flex-grow: 0;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &.title {
      flex: 1;
      font-weight: 600;
      font-size: 16px;
    }

    &.icons {
      font-size: 16px;
      color: #ffffff;
      cursor: pointer;
      margin-left: 20px;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SortableList {
  position: relative;
  width: 400px;
  padding: 0;
}

.SortableItem {
  width: 100%;
  height: 54px;
  margin-top: 1px;
  border-bottom: 1px solid #efefef;
  background: #ffffff;
  color: #333;
  z-index: 10000;

  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.played {
    color: #999999;
  }

  &.playing {
    color: #fe2851;
    font-weight: 500;
  }

  > span {
    display: block;
    width: 245px;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    user-select: none;
  }

  .title {
    margin-top: 5px;
    font-size: 14px;
    line-height: 14px;
  }

  .artistName {
    font-size: 12px;
    line-height: 12px;
  }

  .albumName {
    font-size: 10px;
    line-height: 10px;
  }
}

.SortableHelper {
  cursor: row-resize;
  z-index: 1752;
}
