body {
  min-height: 100vh;
  margin: 0;
  font-weight: 300;
  background: #ffffff;
  color: #333333;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;;
  color: initial;
}

a {
  color: rgb(105, 105, 105);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #fe2851;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: solid 1px #fe2851;
  padding: 10px 15px;
  color: #fe2851;
  font-size: 11px;
}

:global {
  #app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #main-wrapper {
    display: flex;
    flex: 1;

    > aside {
      overflow-y: scroll;
    }

    #main-sidebar {
      height: 100%;
      min-height: 500px;
      top: 66px;
      bottom: 0px;
      width: 260px;
      padding: 10px;
      //overflow-y: scroll;
    }

    #main-content {
      flex: 1;
    }
  }

  @import './styles/NavigationBar';
  @import './styles/Sidebar';
  @import './styles/Vendor/react-contextmenu';
  @import './styles/Vendor/react-contextmenu';
  @import './styles/Vendor/github-fork-ribbon-css';
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}