body {
  min-height: 100vh;
  margin: 0;
  font-weight: 300;
  background: #ffffff;
  color: #333333;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: system-ui;
  color: initial;
}

a {
  color: rgb(105, 105, 105);
  text-decoration: none;

  transition: color 0.1s;
}
a:hover {
  color: #fe2851;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: solid 1px #fe2851;
  padding: 10px 15px;
  color: #fe2851;
  font-size: 11px;
}

:global {

  .test-overlay {
    .play-overlay {
      position: relative;
      width: 30px;
      height: 30px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &:hover {
      .play-overlay:before {
        content: '';
        background: rgba(25,25,25,0.5);
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
      }
      .play-overlay:after {
        content: '';
        background: url(./assets/Play.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
      }
    }
    &.pause {
      .play-overlay:before {
        content: '';
        background: rgba(25,25,25,0.5);
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
      }
      .play-overlay:after {
        content: '';
        background: url(./assets/Pause.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
      }
    }
  }

  #app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #main-wrapper {
    display: flex;
    flex: 1;
    #main-sidebar {
      height:100%;
      min-height: 500px;
      top: 66px;
      bottom: 0px;
      width: 260px;
      padding: 10px;
      //overflow-y: scroll;
    }
    #main-content {
      height:100%;
      overflow-y: scroll;
      flex: 1;
      > div {
        padding: 10px;
      }
    }
  }

  @import './styles/NavigationBar';
  @import './styles/Sidebar';
}