.navigationBar {
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(247, 247, 247);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 100;

  > div.navWrapper {
    position: relative;
    width: 100%;
  }

  ul.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 65px;

    &.pull-right {
      float: right
    }

    li {
      margin: 0;
      padding: 0;
      display: inline-block;

      a {
        color: rgb(105, 105, 105);
        background: none;
        font-weight: 300;
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 4px;
        letter-spacing: -0.1px;
        margin: 0 5px;

        &:hover {
          color: #fe2851;
        }
      }

      &.active a {
        color: #ffffff;
        background: #fe2851;
      }
    }
  }

  h1.brand {
    position: absolute;
    top: 0;
    left: 30px;
    line-height: 65px;
    font-size: 20px;
    color: #555555;
    margin: 0;
  }

  div.navSearch {
    position: absolute;
    top: 15px;
    right: 50px;

    input {
      -webkit-appearance: none;
      outline: none;
      padding: 8px 15px;
      text-align: center;
      border: solid 1px #eee;
      border-radius: 5px;
      font-size: 11px;
      line-height: 15px;
    }
  }
}
