@import "../../../assets/styles/utils";
@import "../../../assets/styles/themes/light";
@import "../../../assets/styles/themes/dark";

.navigationBar {
  height: 65px;

  @include themeLight {
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  }

  @include themeDark {
    box-shadow: 0 3px 2px -2px $dark__background_tint_color;
  }

  text-align: center;
  z-index: 300;
  width: 100%;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;

  .brand {
    font-size: 20px;
    margin: 0;
    display: flex;

    a {
      @include themeLight {
        color: #222222;
      }

      @include themeDark {
        color: $dark__text_color;
      }

      height: 100%;
      align-items: center;
      margin: auto 6px auto 0;
      display: flex;

      &:hover {
        @include themeLight {
          color: $light__accent_color;
        }

        @include themeDark {
          color: $dark__accent_color;
        }
      }

      .icon {
        margin-top: 4px;
      }

      .name {
        margin-left: 10px;
      }
    }
  }
}
